### Summer Workshop
#### July 6, 2018
##### Author: Dhananjay Bhaskar <dhananjay_bhaskar@brown.edu>

### Lists
- Variable length
- Arraylist, Queue, Stack, Vector

In [139]:
a = [1, 2, 'a', 12.3, "hello"]

In [140]:
# Accessing an element, note: index starts at 0 (unlike MATLAB)
a[0]

1

In [141]:
# Slicing
a[1:3]

[2, 'a']

In [142]:
# Accessing element from the end
a[-2]

12.3

In [143]:
# Slice to the end
a[2:]

['a', 12.3, 'hello']

In [144]:
# Add new element
a.append(5)

In [145]:
a

[1, 2, 'a', 12.3, 'hello', 5]

In [146]:
# Create nested list
a.append([1, 2, 3])
a

[1, 2, 'a', 12.3, 'hello', 5, [1, 2, 3]]

In [147]:
# Note: list is an element
a[-1]

[1, 2, 3]

In [148]:
# Insert all elements from a list
a.extend([5,6,7])
a

[1, 2, 'a', 12.3, 'hello', 5, [1, 2, 3], 5, 6, 7]

In [149]:
# Access elements from the nested list
a[-4][-2:]

[2, 3]

In [150]:
# Insert element at specified index
a.insert(1, 13)
a

[1, 13, 2, 'a', 12.3, 'hello', 5, [1, 2, 3], 5, 6, 7]

In [151]:
# Update value
a[1] = 15
a

[1, 15, 2, 'a', 12.3, 'hello', 5, [1, 2, 3], 5, 6, 7]

In [152]:
# Find the index of an element (first occurance)
a.index(5)

6

In [153]:
# Number of elements in list
len(a)

11

In [154]:
# Useful function to create a sequence
range(11)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [155]:
# Count number of elements equal to 5
cnt = 0

for i in range(len(a)):
    if a[i] == 5:
        cnt+=1
print cnt

2

In [156]:
# Print the list
for i in range(len(a)):
    print a[i]

1
15
2
a
12.3
hello
5
[1, 2, 3]
5
6
7

In [157]:
# Insert element into nested list
a[-4].insert(0, 55)
a

[1, 15, 2, 'a', 12.3, 'hello', 5, [55, 1, 2, 3], 5, 6, 7]

In [158]:
# Note: type function returns data type
print type([1, 2, 3])
print type(1)
print type(1.2)
print type('hello')

<type 'list'>
<type 'int'>
<type 'float'>
<type 'str'>

In [159]:
# Find index of nested list by checking type
for i in range(len(a)):
    if type(a[i]) == list:
        print "Index:" + repr(i)

Index:7

In [160]:
# Use repr function to convert objects (ints, floats, lists, etc.) to string representation
repr(a[7])

'[55, 1, 2, 3]'

In [161]:
# Note order of sorting
a.sort()
a

[1, 2, 5, 5, 6, 7, 12.3, 15, [55, 1, 2, 3], 'a', 'hello']

In [162]:
# Copy by reference
# Variables a and b refer to the same object
# Modifications made to b are reflected in a
b = a
b[1] = 100
print "b : " + repr(b)
print "a : " + repr(a)

b : [1, 100, 5, 5, 6, 7, 12.3, 15, [55, 1, 2, 3], 'a', 'hello']
a : [1, 100, 5, 5, 6, 7, 12.3, 15, [55, 1, 2, 3], 'a', 'hello']

In [163]:
a[3] = 500
print "b : " + repr(b)

b : [1, 100, 5, 500, 6, 7, 12.3, 15, [55, 1, 2, 3], 'a', 'hello']

In [164]:
# Shallow copy
# Top-level elements are copied
# Nested list is copied by reference
import copy 
c = copy.copy(a)
print "c : " + repr(c)
print "a : " + repr(a)

c : [1, 100, 5, 500, 6, 7, 12.3, 15, [55, 1, 2, 3], 'a', 'hello']
a : [1, 100, 5, 500, 6, 7, 12.3, 15, [55, 1, 2, 3], 'a', 'hello']

In [165]:
c[1] = 200
print "c : " + repr(c)
print "a : " + repr(a)

c : [1, 200, 5, 500, 6, 7, 12.3, 15, [55, 1, 2, 3], 'a', 'hello']
a : [1, 100, 5, 500, 6, 7, 12.3, 15, [55, 1, 2, 3], 'a', 'hello']

In [166]:
c[-3][0] = 56
print "c : " + repr(c)
print "a : " + repr(a)

c : [1, 200, 5, 500, 6, 7, 12.3, 15, [56, 1, 2, 3], 'a', 'hello']
a : [1, 100, 5, 500, 6, 7, 12.3, 15, [56, 1, 2, 3], 'a', 'hello']

In [167]:
# Deep copy
# Recursively copy every element (expensive for large datasets!)
d = copy.deepcopy(a)
print "d : " + repr(d)
print "a : " + repr(a)

d : [1, 100, 5, 500, 6, 7, 12.3, 15, [56, 1, 2, 3], 'a', 'hello']
a : [1, 100, 5, 500, 6, 7, 12.3, 15, [56, 1, 2, 3], 'a', 'hello']

In [168]:
d[-3][0] = 57
print "d : " + repr(d)
print "a : " + repr(a)

d : [1, 100, 5, 500, 6, 7, 12.3, 15, [57, 1, 2, 3], 'a', 'hello']
a : [1, 100, 5, 500, 6, 7, 12.3, 15, [56, 1, 2, 3], 'a', 'hello']

### Tuples
- Immutable type
- Faster than lists

In [169]:
x = (1, 'a', 3243.1121, [3, 4, 'a'])
print x

(1, 'a', 3243.1121, [3, 4, 'a'])

In [175]:
# Unpack tuple
y = (1, 5, 10)
a, b, c = y
print b

5

In [176]:
# Cannot modify elements (immutable type)
x[1] = 'b'

TypeError: 'tuple' object does not support item assignment

In [177]:
# But the nested list is mutable
x[-1][0] = 5
print x

(1, 'a', 3243.1121, [5, 4, 'a'])

In [178]:
# Create a deep copy
z = copy.deepcopy(x)
print z

(1, 'a', 3243.1121, [5, 4, 'a'])

In [179]:
# Modify copy
z[-1][0] = 55
print "z : " + repr(z)
print "x : " + repr(x)

z : (1, 'a', 3243.1121, [55, 4, 'a'])
x : (1, 'a', 3243.1121, [5, 4, 'a'])

In [180]:
# Number of elements
len(x)

4

In [181]:
# Index of element
x.index('a')

1

In [182]:
# Use try-catch block if unsure whether element is in the tuple/list
try:
    print x.index(-1)
except:
    print "That element does not exist in tuple"

That element does not exist in tuple

### Dictionary
- Key-value store
- Arbitrary order
- Map, HashMap, TreeMap, Hashtable

In [183]:
mydict = {"a":1, 3:15, "hello":2}

In [184]:
# Note: 3 is not an index
mydict[3]

15

In [185]:
mydict["a"]

1

In [186]:
mydict["hello"]

2

In [187]:
# Key values must be unique
mydict = {"a":1, 3:15, "hello":2, 15:1, "a":15}
mydict["a"]

15

In [188]:
# List is not hashable, cannot be used as a key
mydict2 = {"a":1, 3:15, "hello":2, 15:1, [1,2,3]:11}

TypeError: unhashable type: 'list'

In [189]:
# But, list can be used as a value
mydict2 = {"a":1, 3:15, "hello":2, 15:1, 15:[5,6,7]}
mydict2[15]

[5, 6, 7]

In [190]:
# Modify value for a key
mydict2[15] = [2,3]
mydict2

{3: 15, 15: [2, 3], 'a': 1, 'hello': 2}

In [191]:
# Get a list of all keys in dictionary
mydict2.keys()

['a', 3, 'hello', 15]

In [192]:
# Get a list of all values
mydict2.values()

[1, 15, 2, [2, 3]]

In [193]:
# Print key, value pairs
# Note: \t is used to generate tabs
for key in mydict2.keys():
    print "Key:\t" + repr(key) + "\tValue:\t" + repr(mydict2[key])

Key:	'a'	Value:	1
Key:	3	Value:	15
Key:	'hello'	Value:	2
Key:	15	Value:	[2, 3]

In [194]:
# Check if key exists
if mydict2.has_key('b'):
    print mydict2['b']
else:
    print "That key does not exist"

That key does not exist

### Sets
- Conceptualize using Venn diagrams
- Arbitrary order of storage

In [195]:
# Note: sets cannot have duplicates
# This is a useful property
x = set([1, 5, 7, 5, 'hello'])
x

{1, 5, 7, 'hello'}

In [196]:
y = set([3, 5, 9, 'world'])
y

{3, 5, 9, 'world'}

In [197]:
# Set intersection
x & y

{5}

In [198]:
# Set union
x | y

{1, 3, 5, 7, 9, 'hello', 'world'}

In [199]:
# Set difference
x - y

{1, 7, 'hello'}

In [200]:
# Check if x is a proper subset of y
x.issubset(y)

False

In [201]:
# Is element 9 contained in set y?
set([9]).issubset(y)

True

### Strings and regular expression

In [202]:
text = "Normal english text"
print text

Normal english text

In [203]:
# Python supports unicode characters
u_text = u"This text says: \u4560\u597d"
print u_text

This text says: 䕠好

In [204]:
# Slicing
text[0:4]

'Norm'

In [205]:
# String concatenation
text[0] + text[-3:]

'Next'

In [206]:
# Number of characters
len(text)

19

In [207]:
mystring = "       hdiwhdwkbdkwbd .   "
print mystring

       hdiwhdwkbdkwbd .

In [208]:
# Remove leading and trailing spaces
mystring.strip()

'hdiwhdwkbdkwbd .'

In [209]:
mystring.lstrip()

'hdiwhdwkbdkwbd .   '

In [210]:
# Substitution
text = text.replace("Normal", "Regular")

In [211]:
# Find first occurance
text.index("english")

8

In [212]:
multilinetext="""Anders
Catherine
Eric DuBois
Zach"""
print multilinetext

Anders
Catherine
Eric DuBois
Zach

In [213]:
multilinetext.splitlines()

['Anders', 'Catherine', 'Eric DuBois', 'Zach']

In [214]:
"Split this text by space".split(" ")

['Split', 'this', 'text', 'by', 'space']

In [215]:
for word in "Split this text by space".split(" "):
    print word

Split
this
text
by
space

In [216]:
# Split and re-join string

import string

mystring = "Split this text by space"

string.join(mystring.split(" "), ",")

'Split,this,text,by,space'

In [217]:
# Split using regular expression

import re

re.split("[a-f]", "a5c6d77e11f55z")

['', '5', '6', '77', '11', '55z']

In [218]:
# Use regular expression to parse floats
matches = re.match(r"(\d+)\.(\d+)", "22123.14151")

In [219]:
whole_part, decimal_part = matches.groups()

In [220]:
print whole_part

22123

In [221]:
matches.groups()

('22123', '14151')